<div fxLayout="column" style="width: 100%; height: 100%" fxLayoutGap="0.5em">
  <ng-container *ngIf="dataService.urlParams | async as urlParams">
    <button
      *ngIf="newSelectedNeighborhoods | async as selected"
      mat-raised-button
      [disabled]="selected.length === 0"
      color="primary"
      (click)="filter(urlParams.left.state, selected)"
    >
      Aplicar Filtro a Barrios y Calles
    </button>
  </ng-container>

  <div [id]="id" style="width: 100%; height: 100%"></div>
</div>
