<div [id]="id" style="width: 100%; height: 100%; position: relative">
  <div
    *ngIf="summary | async as extra"
    class="floating-box"
    [ngStyle]="{ right: boxSide === 'right' ? '1em' : '', left: boxSide === 'left' ? '1em' : '' }"
  >
    <div *ngFor="let item of extra | keyvalue">
      <div style="font-size: large; padding: 0.25em">
        <span style="font-weight: bold; margin-right: 0.25em">{{ item.key | titlecase }}:</span>
        <span>{{ item.value | number: "1.0-0" }} {{ getUnit(item.key) | lowercase }}</span>
      </div>
    </div>
    <mat-divider style="margin: 0.5em 0em"></mat-divider>
    <div fxLayout="row" style="padding: 0.25em">
      <div *ngFor="let color of colors; let index = index" fxFlex="auto">
        <div [ngStyle]="{ 'background-color': color, height: '1.5em' }"></div>
        <div style="text-align: center">{{ index + 1 }}</div>
      </div>
    </div>
    <div style="text-align: center">Intensidad</div>
  </div>
</div>
